@model RouteViewModel

@* @{
    int cbCommentsPerPage = 10;
    int cbPagesLoaded = 1;
    int cbMaxComments = 20;
} *@

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="row">
    <div class="col-md-4">
        <div class="card mb-3 rounded-3 shadow">
            <h3 class="card-header">Boulder preview</h3>
            <div class="card-body">
                <h5 class="card-title">@Model.Route.Id</h5>
                <h6 class="card-subtitle text-muted">@Model.Route.Description</h6>
            </div>
            <img src="@Model.Route.Image" class="d-block user-select-none" aria-label="Placeholder: Image cap" focusable="false" role="img" style="object-fit: cover;">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#summary" aria-selected="true" role="tab">Summary</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#comments" aria-selected="false" tabindex="-1" role="tab">Comments</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#ascents" aria-selected="false" tabindex="-1" role="tab">Ascents</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            @* summary tab *@
            <div class="tab-pane fade show active rounded-3 shadow p-2" id="summary" role="tabpanel">
                
                @* Ascents *@
                <div id="AscentsSection">
                    <partial name="_Section_Ascents" model="@Model.AscentsSectionViewModel"/>
                </div>

                @* Grade ratings *@
                <br />
                <div id="GradingSection">
                    <partial name="_Section_Grading" model="@Model.GradingSectionViewModel" />
                </div>

                @* Badges *@
                <br />
                <div class="rounded-3 border p-2">
                    <h2>Style</h2>
                    <div>
                        <span class="badge rounded-pill bg-info">Slab</span>
                        <span class="badge rounded-pill bg-success">Powerful</span>
                        <span class="badge rounded-pill bg-info">Balance</span>
                        <span class="badge rounded-pill bg-light">Project</span>
                        <span class="badge rounded-pill bg-warning">Fun</span>
                        <span class="badge rounded-pill bg-danger">Tricky</span>
                        <span class="badge rounded-pill bg-light">Dyno</span>
                        <span class="badge rounded-pill bg-light">Crux</span>
                        <span class="badge rounded-pill bg-light">Jumpstart</span>
                    </div>
                </div>
            </div>

            @* comment tab *@
            <div class="tab-pane fade" id="comments" role="tabpanel">
                <div style="row" class="rounded-3 shadow p-2">
                    <form asp-action="PostComment" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#CommentBox" data-ajax-complete="ResetBox()">
                        <div class="row m-2 p-1 border-bottom border-start">
                            <div class="col-md commentbox">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <textArea style="background-color:transparent;" class="form-control" id="commentTextArea" name="commentTextArea" rows="3" placeholder=""></textArea>
                                }
                                else
                                {
                                    <textArea disabled style="background-color:transparent;" class="form-control" id="commentTextArea" name="commentTextArea" rows="3" placeholder="Please sign in to post your comment"></textArea>
                                }
                            </div>
                            <div class="col-md-2 align-self-end">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <button class="btn btn-light" type="submit" id="button-addon2">Comment</button>
                                }
                                else
                                {
                                    <button class="btn btn-light disabled" type="submit" id="button-addon2">Comment</button>
                                }
                            </div>
                        </div>
                    </form>
                    <div id="CommentBox">
                        <partial name="_CommentBox" model="@Model.RouteComments">
                        @* @if (cbPagesLoaded * cbCommentsPerPage < cbMaxComments)
                        {
                            <button type="submit" class="btn btn-light align-self-center" asp-action="LoadComments" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#CommentBox">Load more</button>
                        } *@
                    </div>
                </div>
            </div>

            @* ascents tab *@
            <div class="tab-pane fade rounded-3 shadow p-2" id="ascents">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/commentbox.js"></script>
    <script src="/js/radioHandler.js"></script>
    <partial name="_ValidationScriptsPartial" />
}