@model BrowseViewModel
@{
    ViewData["Title"] = "Home Page";
}
@{
    int routeId = 0;
    int.TryParse(Url.ActionContext.RouteData.Values["Id"]?.ToString(), out routeId);
}

<div style="display:grid; grid-template-columns: auto auto auto auto; justify-content: space-evenly;">

    @foreach (var route in Model.Routes.Skip(Model.ColumnsPerPage * Model.RowsPerPage * (routeId-1)).Take(Model.ColumnsPerPage * Model.RowsPerPage))
    {
        <div>
            <div class="shadow">
                <a class="nav-link text-light" style="display:inline" asp-area="" asp-controller="Route" asp-action="Show" asp-route-id="@route.Id">
                    <div class="card bg-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-header">@route.Description</div>
                        <div class="card-body">
                        <h4 class="card-title">@route.Description</h4>
                            <img src="@route.Image" class="d-block user-select-none" width="216" height="270" aria-label="Placeholder: Image cap" focusable="false" role="img" style="object-fit: cover;">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
 </div>

<div>
    <ul class="pagination pagination-lg" style="justify-content: center;">
        @for(int i = 1; i<=Model.PagesTotal; i++)
        {
            if (i == routeId)
            {
                <li class="page-item active shadow">
                    <a class="page-link" asp-controller="Home" asp-action="Browse" asp-route-id="@i">@i</a>
                </li>
            }
            else
            {
                <li class="page-item shadow">
                    <a class="page-link" asp-controller="Home" asp-action="Browse" asp-route-id="@i">@i</a>
                </li>
            }
        }
    </ul>
</div>

