@model BrowseViewModel
@{
    ViewData["Title"] = "Home Page";
}
@{
    int routeId = 0;
    int.TryParse(Url.ActionContext.RouteData.Values["Id"]?.ToString(), out routeId);
}

<div style="display:grid; grid-template-columns: auto auto auto auto; justify-content: space-evenly;">

    @foreach (var route in Model.Routes.Skip(Model.ColumnsPerPage * Model.RowsPerPage * (routeId-1)).Take(Model.ColumnsPerPage * Model.RowsPerPage))
    {
        <div>
            <a class="nav-link text-light" style="display:inline" asp-area="" asp-controller="Route" asp-action="Show" asp-route-id="@route.RouteReference">
                <div class="card bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">@route.RouteReference</div>
                    <div class="card-body">
                    <h4 class="card-title">@route.Description</h4>
                    <img src="@route.Image" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                    </div>
                </div>
            </a>
        </div>
    }
 </div>

<div>
    <ul class="pagination pagination-lg" style="justify-content: center;">
        @for(int i = 1; i<=Model.PagesTotal; i++)
        {
            if (i == routeId)
            {
                <li class="page-item active">
                    <a class="page-link" asp-controller="Home" asp-action="Browse" asp-route-id="@i">@i</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Home" asp-action="Browse" asp-route-id="@i">@i</a>
                </li>
            }
        }
    </ul>
</div>

