@model AscentsSectionViewModel

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    if (TempData["NotificationRequested"]!=null){
        if (TempData["SuccessMessage"]!=null){
            <script type="text/javascript">
                notifySuccess('@TempData["SuccessMessage"]');
            </script>

            TempData["SuccessMessage"] = null;
        }
        
        if (TempData["ErrorMessage"] != null)
        {
            <script type="text/javascript">
                notifySuccess('@TempData["ErrorMessage"]');
            </script>

            TempData["ErrorMessage"] = null;
        }

        TempData["NotificationRequested"] = null;
    }
}

<div id="AscentsSection">
    <div class="rounded-3 border p-2">
        <h2>Ascents</h2>
        @if (Model.AscentsTotal>0)
        {
            @if (Model.AscentsTotal > 1)
            {
                <p>First ascent on @Model.AscentData.Last().Ascent.AscentDateTime by @Model.AscentData.Last().Ascent.UserId</p>
            }
            <p>Last ascent on @Model.AscentData.First().Ascent.AscentDateTime by @Model.AscentData.First().Ascent.UserId</p>
            <p>@Model.AscentsSuccessful ascents successfull out of @Model.AscentsTotal attempts total</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: @Model.Progress_Success%;" aria-valuenow="@Model.Progress_Success" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-light" role="progressbar" style="width: @Model.Progress_Attempt%;" aria-valuenow="@Model.Progress_Attempt" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <form asp-action="MarkAscent" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#AscentsSection" name="form_ascents">
                @{
                    string radio_ascent_status = SignInManager.IsSignedIn(User) ? "" : "disabled";
                }
                <div class="row">
                    <div class="btn-group align-self-center" role="group" aria-label="Basic radio toggle button group">
                        <input oninput="markAscent('success')" @radio_ascent_status @Model.Radio_Status_Success type="radio" class="btn-check" id="radio_ascent_success" autocomplete="off">
                        <label class="btn btn-outline-primary" for="radio_ascent_success">Ascended</label>
                        <input oninput="markAscent('attempt')" @radio_ascent_status @Model.Radio_Status_Attempt type="radio" class="btn-check" id="radio_ascent_attempt" autocomplete="off">
                        <label class="btn btn-outline-primary" for="radio_ascent_attempt">Attempted</label>
                        <input oninput="markAscent('blank')" @radio_ascent_status @Model.Radio_Status_Blank type="radio" class="btn-check" id="radio_ascent_blank" autocomplete="off">
                        <label class="btn btn-outline-primary" for="radio_ascent_blank">Not attempted</label>
                        <input hidden name="ascentResult" id="radio_value_ascent" autocomplete="off">
                        <button hidden type="submit" id="radio_ascents_submit">Don't look :)')</button>
                    </div>
                </div>
            </form>

            <p>@Model.AscentsAverage ascents per day</p>

        }
        else
        {
            <p>No ascents logged so far. Be first to log an ascent!</p>
        }
    </div>
</div>